@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  @apply text-blue-700;
}

.num {
  position: absolute;
  color: white;
  background-color: black;
  padding: 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  top: -40px;
  font-size: 14px;
}

.num::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: solid 7px black;
  border-color: black transparent transparent transparent;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
